<div class="col-auto">
    <div class="d-flex flex-column vh-100">

        {% if current_server %}
            <div class="d-flex flex-column justify-content-center">
                <a href="{% url 'app:server-detail' current_server.id %}" class="">{{ current_server.name }}</a>
                <a href="{% url 'app:channel-create' current_server.id %}" class="">Add Text Chat</a>

                {% for channel in current_server.textchannel_set.all %}
                    <a href="{% url 'app:channel-detail' current_server.id channel.id %}">{{ channel.name }}</a>
                {% endfor %}
                
            </div>
        {% else %}
            <div class="d-flex flex-column justify-content-center">
                <a href="{% url 'app:index' %}" class="">Friends</a>
                
                {% for channel in channels %}
                    <a href="{% url 'app:direct-message' channel.other_user.id %}">{{ channel.name }}</a>
                {% endfor %}
                    
            </div>
        {% endif %}
            
        <div class="user-info mt-auto">
            <div class="d-flex align-items-center">
                <!-- <img src="https://cdn.discordapp.com/avatars/123456789012345678/abcdef123456789012345678abcdef12.png" alt="User Avatar" class="avatar" style="width: 3rem; height: 3rem;"> -->
                <a href="{% url 'accounts:profile' %}" class="ml-2">
                    <div class="username">{{user.username}}</div>
                </a>
            </div>
        </div>
    </div>
</div>