{% extends 'app/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="header row bg-secondary align-items-center p-2 mb-2">
    <div class="col-auto" style="color: white;">Friends</div>
    <div class="col-auto"><a href="{% url 'app:index' %}" class="link-detail">All</a></div>
    <div class="col-auto"><a href="{% url 'app:friend-requests' %}" class="link-detail active">Pending</a></div>
    <div class="col-auto"><a href="{% url 'app:friend-request-create' %}" class="btn btn-success">Add Friend</a></div>
</div>
{% include 'app/includes/messages.html' %}
<div class="container">
    
    <ul>
        {% for friend in friends %}
            <li>
                {{ friend.to_user }}{{ friend.created_at_str }}<a href="{% url 'app:friend-request-update' friend.pk%}">Edit</a>
            </li>
        {% endfor %}
    </ul>
        
</div>
{% endblock %}