{% extends 'app/layout.html' %}
{% load static %}

{% block content %}
<div class="header row bg-secondary align-items-center p-2 mb-2">
    <div class="col-auto" style="color: white;">Friends</div>
    <div class="col-auto"><a href="{% url 'app:index' %}" class="link-detail active">All</a></div>
    <div class="col-auto"><a href="{% url 'app:friend-requests' %}" class="link-detail">Pending</a></div>
    <div class="col-auto"><a href="{% url 'app:friend-request-create' %}" class="btn btn-success">Add Friend</a></div>
</div>
{% include 'app/includes/messages.html' %}
<div class="container">
    <ul>
        
        {% for friend in friends %}
            <li>
                <a href="{% url 'app:direct-message' friend.other_user.id %}">{{ friend.other_user }}</a>
            </li>
        {% endfor %}
            
    </ul>
</div>
{% endblock %}


{% block script %}
    <script src="{% static '/app/js/example.js' %}"></script>
{% endblock script %}
    