<div class="col-auto">
    <a class="d-flex align-items-center justify-content-center" style="width: 3rem; height: 3rem; background-color: #7289da; border-radius: 1.5rem; cursor: pointer;">
        <i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <div class="w-100 mt-2 mb-2" style="height: 2px; background-color: rgba(114, 121, 136, 0.2); border-radius: 50%;"></div>
    {% for server in servers %}
        <div class="position-relative">
        <div class="d-flex align-items-center justify-content-center" style="width: 3rem; height: 3rem; background-color: #7289da; border-radius: 1.5rem; cursor: pointer;">
            {{ server.0|upper }}
        </div>
        <button
            onclick="handleDeleteServer('{{ server }}')"
            class="position-absolute top-0 end-0 bg-danger text-white rounded-circle p-1 d-none hover:bg-danger-hover"
            style="right: -0.5rem; top: -0.5rem;"
        >
            <i class="bi bi-trash" style="font-size: 1rem;"></i>
        </button>
        </div>
    {% endfor %}
    <a class="d-flex align-items-center justify-content-center" style="width: 3rem; height: 3rem; background-color: #7289da; border-radius: 1.5rem; cursor: pointer;">
        <i class="fa fa-home" aria-hidden="true"></i>
    </a>
</div>