{% extends 'app/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="row p-2 bg-secondary">
        <h4>Server Settings</h4>
    </div>
    <div class="container mt-2">
        <p>Invite Link: <a href="http://{{ site }}{% url 'app:server-join' invite_link %}" target="_blank">http://{{ site }}{% url 'app:server-join' invite_link %}</a></p>
        <a href="{% url 'app:server-members' current_server.pk %}">Update Member List</a>
        <form class="form" method="post" enctype="multipart/form-data">
            {% crispy form %}
            <div class="form-actions">
                <input class="btn btn-primary" id="submit" type="submit" value="Update">
            </div>
        </form>
    </div>
{% endblock %}
    